directory: ~/music
library: ~/music/library.db
plugins: convert web fetchart embedart duplicates replaygain musicbrainz

import:
  move: yes

replaygain:
  backend: ffmpeg

fetchart:
  minwidth: 500
  maxwidth: 700
  sources:
    - filesystem
    - coverart: release
    - itunes
    - coverart: releasegroup
    - '*'

# convert:
  # auto_keep: yes
  # quiet: yes
  # dest: /mnt/memes/converted_music
  # command: ffmpeg -i $source -y -vn -acodec libopus -ab 128k $dest
  # extension: opus

