/*
* Flavour: Rosé Pine
* Maintainer: DankChoir
*/

@define-color base            #191724;
@define-color surface         #1f1d2e;
@define-color overlay         #26233a;

@define-color muted           #6e6a86;
@define-color subtle          #908caa;
@define-color text            #e0def4;

@define-color love            #eb6f92;
@define-color gold            #f6c177;
@define-color rose            #ebbcba;
@define-color pine            #31748f;
@define-color foam            #9ccfd8;
@define-color iris            #c4a7e7;

@define-color highlightLow    #21202e;
@define-color highlightMed    #403d52;
@define-color highlightHigh   #524f67;

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font", "Noto Sans", monospace;
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: @text;
}

tooltip {
  background: @base;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: @overlay;
}

#workspaces button {
  padding: 5px 2px;
  color: @highlightMed;
  margin-right: 5px;
}

#workspaces button.active {
  color: @text;
}

#workspaces button.focused {
  color: @subtle;
  background: @love;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: @base;
  background: @pine;
  border-radius: 10px;
}

#workspaces button:hover {
  background: @highlightLow;
  color: @text;
  border-radius: 10px;
}

#custom-power_profile,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#idle_inhibitor,
#bluetooth,
#temperature,
#workspaces,
#tray,
#memory,
#mpris,
#power-profiles-daemon,
#backlight {
  background: @base;
  opacity: 0.9;
  padding: 0px 10px;
  margin: 3px 0px;
  margin-top: 10px;
  border: 1px solid @overlay;
}

#mpris {
  margin-left: 8px;
  border-radius: 10px;
}

#idle_inhibitor {
  color: @gold;
}

#memory {
  color: @foam;
}

#temperature {
  color: @rose;
  border-radius: 0px 0px 0px 0px;
  border-right: 0px;
}

#temperature.critical {
  color: @love;
}

#backlight {
  color: @text;
  border-radius: 0px 10px 10px 0px;
  margin-right: 10px;
}

#tray {
  border-radius: 10px;
  margin-right: 10px;
}

#workspaces {
  background: @base;
  border-radius: 10px;
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 5px;
}

#power-profiles-daemon,
#custom-power_profile {
  color: @foam;
  border-radius: 0px 10px 10px 0px;
}

#window {
  border-radius: 10px;
  margin-left: 60px;
  margin-right: 60px;
}

window#waybar.empty #window {
  background: none;
  border: none;
}

#clock {
  color: @gold;
  border-radius: 10px;
  border-right: 0px;
  margin-right: 10px;
}

#network {
  color: @love;
  border-radius: 10px 0px 0px 10px;
  /* border-left: 0px; */
  border-right: 0px;
}

#bluetooth {
  color: @gold;
  border-radius: 0px 0px 0px 0px;
  border-right: 0px;
  /* margin-right: 10px; */
}

#pulseaudio {
  color: @iris;
  border-radius: 10px 0px 0px 10px;
  /* border-left: 0px; */
  border-right: 0px;
  margin-left: 4px;
}

#pulseaudio.muted {
  color: @love;
}

#pulseaudio.microphone {
  color: #c4a7e7;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px 10px 10px 0px;
  margin-right: 10px;
}

#battery {
  color: @text;
  border-radius: 0 10px 10px 0;
  border-left: 0px;
  margin-right: 4px;
}

#custom-weather {
  border-radius: 0px 10px 10px 0px;
  /* border-right: 0px; */
  margin-left: 0px;
}

#custom-spotify {
  min-width: 140px;
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  padding: 0 10px;
  color: @foam;
  padding: 0px 10px;
  margin: 3px 0px;
  margin-top: 10px;
}
